:root {
    --letra-fuente: Arial;
    --letra-tamaño: 22px;
    --letra-color: rgb(126, 122, 122);
    --color-form: antiquewhite;
    --color-p: beige;
}

body {
    background: rgb(224, 211, 211);
}

.button {
    width: 80%;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
}

.button input:nth-child(odd){
    background: pink;
}

.button:not(input){
    color: blue;
}

.fparagraph, .sparagraph {
    font-family: var(--letra-fuente);
    font-size: var(--letra-tamaño);
    color: var(--letra-color);
    position: relative;
    background: var(--color-p);
    margin: 15px 0;
}

.fparagraph::after {
    content: '';
    position: absolute;
    height: 20px;
    border-left: 15px solid var(--color-p);
    border-right: 15px solid var(--color-p);
    border-bottom: 5px solid transparent; 
    bottom: -20px;  
}

.fparagraph__text, .sparagraph__text {
    margin: 0;
}

.fparagraph::before {
    content: 'Primer parrafo';
}

.fparagraph::first-letter {
    color: black;
}

.sparagraph::first-line {
    color: blue;
}

.sparagraph__text::selection {
    background: black;
    color: white;
}

.sparagraph p:first-of-type{
    color: coral;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: var(--color-form);
    margin: 30px auto;
    padding: 12px;
}

.form::after {
    content: '';
    position: absolute;
    border-top: 20px solid var(--color-form);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    bottom: -40px;
    left: calc(50% - 20px);
}

.form__label {
    font-family: var(--letra-fuente);
    font-size: var(--letra-tamaño);
}

.form__input {
    height: 40px;
    border-radius: 12px;
    padding: 0 12px;
    border: none;
    font-family: var(--letra-fuente);
    font-size: var(--letra-tamaño);
}

.form input:last-child{
    background: cadetblue;
}

.form__input:out-of-range{
    background: rgba(192, 115, 115, 0.616);
}

.form__input:out-of-range + .form__label::after{
    content: ' (valor no valido)';
}

.form__input:focus {
    background: rgb(250, 239, 235);
    color: blue;
}

.form__input--genero{
    display: none;
}

input[id="otro"]:checked ~ .form__input--genero{
    display: block;
}

.form__input::placeholder {
    font-size: 20px;
}

.form__button {
    width: 20%;
    background: white;
    border-radius: 12px;
    font-family: var(--letra-fuente);
    font-size: var(--letra-tamaño);
    border: none;
    cursor: pointer;
}

.list {
    padding: 0 15px;
    margin: 0;
    list-style: none;
}

.list--sub{
    display: none;
}

.checkbox{
    opacity: 0;
    margin: 0;
}

.checkbox:checked ~ .list--sub{
    display: block;
}

.list__item, .label {
    font-family: var(--letra-fuente);
    font-size: var(--letra-tamaño);
}

.list__link {
    text-decoration: none;
}

.list__link:link{
    color: black;
}

.list__link:visited{
    color: purple;
}

.list__link:hover{
    color: white;
    background: black;
}

.list__link:active{
    color: black;
    background: white;
}

.lightbox {
    display: none;
}
  
.lightbox:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.lightbox p {
    width: 80%;
    height: 30%;
    position: relative;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
  
.lightbox .close::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 107, 0.815);
    cursor: default;
}